*.root
*.root*
/CVS/
/csh/
/err/
/fastjet/
/list/
/LocalLibraries.package/
/log/
/out/
/OUTPUT/
/production/
/report/
/sched*/
/siscone/
/Test/
LocalLibraries.zip
*.dataset
*.session.*
*.py
*.tmp
*LowMid*.list
